@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
.App {
  text-align: center;  
}

body{
  background-image: url(./background.jpg);  
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
 }

header a{
  background-color: transparent;
  color: white;
  margin-left:10px;
  margin-bottom:10px;
  font-size: 25px;
}

a:link{
  text-decoration: none!important;
}

a:hover{
  border-color: white;
  border-bottom-style: solid;
}

header{
  font-family: 'Bebas Neue', cursive;
  height:45px;
}

